# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# dotenv files / secrets
.env
**/.env
*.env.local

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Python packaging
dist/
build/
*.egg-info/
